*{
    margin: 0;
    padding: 0;
    border: 0;   
    text-decoration: none;
    list-style: none;
}

h1{
    font-weight: lighter;   
}

a{
    color: #333;
}

body{
    background: #eee;
    font:13px/1.6 normal Tahoma, Arial; 
    color: #333;
}

body header{
    width: 100%;
    float:left;
    margin: 0 0 15px 0;
}

body header nav{
    width: 100%;
    background: white;
    display: block;
    overflow: hidden;

}

body header nav ul li {
    width: 22%;
    display: inline-block;

}

body header nav ul li a{
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    display: block;
}

header nav ul li:nth-child(1) {
    width: 34%;
}

header nav > ul > li > ul {       
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 22%;
    background: whitesmoke;
}

header nav > ul > li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;

}

header nav > ul > li > ul > li:nth-child(n) {
    display: block;
    width: 100%;
    border: 0;
}

header nav > ul > li > ul > li:nth-child(n) a {
    border: 0;
    font-size: 13px;
    text-align: left;
    line-height: 30px;
    padding: 0 0 0 10px;
}

header nav ul li:nth-child(n) a:hover{
    transition: all 0.4s; 
} 

header nav ul li:nth-child(1) a {
    border-bottom: 5px solid #4D90FE;
    color: #4D90FE;
}
header nav ul li:nth-child(1) a:hover,header nav ul li:nth-child(1) .active{
    background: rgba(77,144,254,0.65);
    color: white;
}
header nav ul li:nth-child(2) a{
    border-bottom: 5px solid #81b900;
    color: #81b900;
}
header nav ul li:nth-child(2) a:hover,header nav ul li:nth-child(2) .active{
    background: rgba(129,185,0,0.65);
    color: white;
}
header nav ul li:nth-child(3) a{
    border-bottom: 5px solid #ffb902;
    color: #ffb902;
}
header nav ul li:nth-child(3) a:hover,header nav ul li:nth-child(3) .active{
    background: rgba(255,185,2,0.65);
    color: white;
}
header nav ul li:nth-child(4) a{
    border-bottom: 5px solid #f25022;
    color: #f25022;
}
header nav ul li:nth-child(4) a:hover,header nav ul li:nth-child(4) .active{
    background: rgba(242,80,34,0.65);
    color: white;
}
header nav ul li:nth-child(5) a{
    border-bottom: 5px solid #303030;
    color: #303030
}
header nav ul li:nth-child(5) a:hover, header nav ul li:nth-child(5) .active{
    background: rgba(48,48,48,0.65);
    color: white;
}



@media (max-width:480px), (max-device-width: 480px) {
    body header  nav {
        position: relative;
        z-index: auto;
    }

    header nav ul li:nth-child(n) {
        width: 100%;
        float:left;
    }
}

.concent {
    width: calc(68% - 60px);
    min-height: 0px;
    margin: 15px 30px 0 30px;
    float: left;
}

.panel {
    width: calc(32% - 30px);
    min-height: 400px;
    margin: 15px 0 0 30px;
    float:left;
}

.concent article, .panel article{
    width: calc(100% - 40px);
    min-height: 400px;
    background: white;
    padding: 20px;
    margin: 0 0 30px 0;
}

.concent article h2{
    font-size: 20px;
    margin-bottom: 15px; 
}

.concent article p{

    font-size: 14px;

}

@media (max-width:750px) , (max-device-width: 750px)  {
    .panel {
        width: calc(100% - 30px);      
        margin: 7px 15px 0 15px;
    }

    .concent{
        width: calc(100% - 30px);
        margin: 7px 15px 0 15px;
    }

    .concent article, .panel article{
        width: calc(100% - 30px);
        padding: 15px;
        margin: 0 0 15px 0;
    }

    body > header{
        margin: 0 0 7px 0;
    }
}

footer{
    width: 100%;
    height: 40px;
    float:left;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
}

/*FORM*/

form{
    margin: 0 0 40px 0;
    display: block;
}

.formField select:focus, .formField select:hover, 
.formField textarea:hover, .formField textarea:focus,
.formField input:hover,.formField input:focus{
    border: 1px solid #4D90FE;
    outline:0; 
    outline-offset: 0px;
}

.formField select{width: 100%;
                  font-size: 16px;       
                  padding: 4px;
                  height:30px;
                  border: 1px solid #dddddd;
                  box-sizing: border-box;
                  margin: 2px 0;}

.formField select[multiple="multiple"]{
    height: 90px; 
}

.formField textarea{width: 100%;
                    font-size: 16px;
                    height: 115px;
                    padding: 4px;
                    border: 1px solid #dddddd;
                    box-sizing: border-box;
                    margin: 2px 0;}

.formField input{width: 100%;
                 font-size: 16px;  
                 padding: 4px;
                 height:30px;
                 border: 1px solid #dddddd;
                 box-sizing: border-box;
                 margin: 2px 0;}

.formField{margin: 0 0 15px 0;}
.formField span{color:#DD4B39;}
.formField label{font-weight:bold;}

.formButton input[type="submit"], .formButton input[type="button"]{font-size:14px;height: 30px;min-width: 90px;color:white;background:#4D90FE;border: 1px solid #4D90FE;}
.formButton input[type="submit"]:hover, .formButton input[type="button"]:hover{color:#4D90FE;background:white;}
.formButton a{float: right;line-height: 30px;}

/*FORM*/

/*BIGBUTTON*/

.bigButton, .normalButton{text-align: center;
                          color:white;
                          background:#4D90FE;
                          border: 1px solid #4D90FE;
                          float:left;
                          text-decoration: none;
                          margin:10px;}

.bigButton{font-size: 24px;
           height: 50px;
           line-height: 50px;
           min-width: 150px;
}

.normalButton{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    min-width: 90px;
}

.bigButton:hover, .normalButton:hover{
    color:#4D90FE;background:white;
}

.formButton input[class="bigButton"], 
.panel .bigButton,
.formButton input[class="normalButton"], 
.panel .normalButton{
    width: 100%;
    min-height: 50px;
    font-size: 16px;
    margin: 0;
}
.formButton input[class="normalButton"], 
.panel .normalButton{
    width: 40%;
    margin: 5%;
}

/*BIGBUTTON*/

/*MESSAGE*/

.info, .success, .warning, .error {  
    margin: 5px 30px;
    float:left;
    width: calc(100% - 80px); 
    padding: 10px;
}

@media (max-width:750px) , (max-device-width: 750px)  {
    .info, .success, .warning, .error {  
        margin: 5px 15px;
        width: calc( 100% - 46px ); 
        padding: 8px;
        float:left;
    }
}

.info {
    color: #00529B;
    background-color: #BDE5F8;/*#5cb85c*/
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;/*#de6764*/
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

/*MESSAGE */

/*TABLE */

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th{font-weight: bold;
   padding: 7px 10px 8px 10px;
   text-align: left;}

tr td{border-top: 1px solid #dddddd;
      padding: 7px 10px 8px 10px;}

tr td a:hover{text-decoration: underline;}
tr:nth-child(2n){    
    background: whitesmoke;
}
/*TABLE*/

/*PAGINATION*/

.tlacitko a{
    background: whitesmoke;
    min-width: 30px;
    max-width: 40px;
    padding: 4px;
    margin: 4px 2px;
    display: block;
}

.paging{
    float: right;
    font-size: 0.9em;
    line-height: 23px;
    display: block;
    clear: both;
    display: table;
    word-wrap: break-word;

}

.paging  a {
    text-decoration: none;
    border: 1px solid #a7a7a7;
    color: #666;
    float: left;
    margin-left: 5px;
    min-width: 19px;
    padding: 0 2px;
    text-align: center;
    transition: background .2s, border-color .2s;
}

.paging span {
    float: left;
    line-height: 23px !important;
    margin: 0 0 0 5px !important;
}

.paging .prev a, .paging .next a{
    background: #2371c5;
    border-color: #2371c5;
    color: #fff;
}



/*PAGINATION */

/*MENU */

article nav ul li a{
    text-decoration: none;
    line-height: 30px; 
    padding: 0 0 0 10px ;   
    width: calc( 100% - 10px );
    display: block;
    font-size: 14px;

}
article nav ul li a:hover{
    background: whitesmoke;         
}

article nav ul li .active{
    font-weight: bold;
}

@media print{
    header{display: none;}
    footer{display: none;}
    .panel{display: none;}
    .info, .success, .warning, .error {
        display: none;
    }

}

/*MENU*/
/* COLOR */

.yellowBG{
    background: #ffb902 !important;
    border: 1px solid #ffb902 !important;
}
.yellowBG:hover{
    color: #ffb902 !important;
    background: white !important;
}
.greenBG{
    background: #81b900 !important;
    border: 1px solid #81b900 !important;
}
.greenBG:hover{
    color: #81b900 !important;
    background: white !important;
}

/*CREATION*/

.creationInfo{
    overflow: hidden;
    min-width: 250px; 
}
.creationInfo > div{
    margin: 0 0 15px 0;
}

.creationInfo div:nth-child(1) h2{
    line-height: 30px; font-weight: lighter; margin: 10px 0 0 0; font-size: 28px;
}

.creationInfo div:nth-child(1) h3{
    line-height: 22px;color: #8c8989;font-weight: lighter;
}

.creationInfo a{
    color:#8c8989;    
}

.creationInfo a:hover{
    text-decoration: underline;
}

#csfd_id{display: none;}

.ratingCSFD, .ratingIMDB{
    width: 95px;
    height: 55px;
    border-radius: 5px;

    font-size: 12px;
    float: left;
    text-align: center;
    margin: 0 0 15px 0;
    padding: 5px 0;
}

.ratingCSFD{
    background: #bb0011;
    color: #fff;
}

.ratingIMDB{
    display: none;
    background: #f1d700;
    color: #000;
}


.ratingCSFD span, .ratingIMDB span{
    font-size: 22px;
}

.creationRating{
    float:right;width: 95px;height: 320px; margin: 0 0 0 20px;
}

.creationPoster{
    float:left;height: 320px; margin: 0 20px 0 0;
}

.creationPoster img{
    width: 200px;float:left;   
}

/*CREATION*/



/*
.polozka:nth-child(5n + 1) 
.polozka:nth-child(5) ~ .polozka
class:root
class:empty
class:checked
class:enabled
class:first-child
class:nth-last-child(n)

orientation: portrait

*/
